{% extends "base.html"%}

{% block title %}
<h1><img src="/static/assets/carpenter.png" style="width:30px;">carpenter</h1>
<hr />
<h3>{{ port }} was successfully opened.</h3>
{% endblock %}

{% block content %}

<form action="./milUpload" method="post">
<b>Mill</b>
<input type="file" name="milData">
<b>Drill</b>
<input type="file" name="drlData">
<b>Dimension</b>
<input type="file" name="dimData">
<input type="submit" value="preview" class="btn btn-primary btn-medium">
</form>

<div class="form-horizontal">

<div class="control-group">
<form action="./startMilling" method="post">
<label class="control-label"><b>milling data</b></label>
<div class="form-inline">
<textarea name="milData" placeholder="paste the milling script" class="span5" rows=5></textarea>
<input type="submit" value="START MILLING" class="btn btn-success">
</div>
<form/>
</div>

<div class="control-group">
<form action="./startDrilling" method="post">
<label class="control-label"><b>drilling data</b></label>
<div class="form-inline">
<textarea name="drlData" placeholder="paste the drilling script" class="span5" rows=5></textarea>
<input type="submit" value="START DRILLING" class="btn btn-success">
</div>
</form>
</div>

<div class="control-group">
<form action="./startDimension" method="post">
<label class="control-label"><b>dimension data</b></label>
<div class="form-inline">
<textarea name="dimData" placeholder="paste the dimension cutting script" class="span5" rows=5></textarea>
<input type="submit" value="START CUTTING DIMENSION" class="btn btn-success">
</div>
</form>
</div>

</div>
{% endblock %}




{% block preview %}
<table class="table">
<caption>UPLOADED FILE</caption>
<thead>
  <th>MILLING FILE</th>
  <th>DRILLING FILE</th>
  <th>DIMENSION FILE</th>
</thead>
<tr>
  <td>{{ mil }}</td>
  <td>{{ drl }}</td>
  <td>{{ dim }}</td>
</tr>
<tr>
  <td><button class="btn btn-info">START MILLING</button></td>
  <td><button class="btn btn-info">START DRILLING</button></td>
  <td><button class="btn btn-info">START DIMENSION CUTTING</button></td>
</tr>



</table>
{% endblock %}




{% block reference %}
<table class="table">
<caption>STANDARD PARAMETER</caption>
<thead>
<th>CUTTING TYPE</th>
<th>X-Y SPEED</th>
<th>Z DEPTH</th>
</thead>
<tr>
 <td>milling</td>
 <td>1</td>
 <td>-20</td>
</tr>
<tr>
 <td>drilling</td>
 <td>1</td>
 <td>-90</td>
</tr>
<tr>
 <td>dimension</td>
 <td>1</td>
 <td>-30,-60,-90(3 round)</td>
</tr>
</table>

{% endblock %}


